<div class="container-fluid px-15 px-md-30 px-lg-40">
    <div class="row py-md-31 py-lg-28">
        <div class="col-8 col-md-4 align-items-center d-none d-md-flex">
            <a href="#" class="p-bold">
                Fundación
                <br>
                Non Profit
            </a>
        </div>
        <div class="col-8 col-md-4 d-flex justify-content-md-center align-items-center">
            <a href="#" class="d-flex gap-3 align-items-center">
                <p class="word-mark">Plan B</p>
                <p class="p-bold d-md-none">
                    Fundación
                    <br>
                    Non Profit
                </p>
            </a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center gap-md-40 gap-lg-50">
            <a href="#" class="language-link d-none d-md-block">English</a>
            <a href="#" class="circle-menu" data-toggle="show" data-target=".language-link">
                <span class="visibility-hidden">Circle Menu</span>
            </a>
        </div>
    </div>
</div>