header{
    color: $offwhite;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.6s cubic-bezier(.23, 1, .32, 1), color 0.6s cubic-bezier(.23, 1, .32, 1);
    z-index: 1;
    .circle-menu{
        transition: background-color 0.6s cubic-bezier(.23, 1, .32, 1);
        border-radius: 100%;
        background-color: $offwhite;
        width: 20px;
        height: 20px;
        @include media-breakpoint-up(lg){
            width: 25px;
            height: 25px;
        }
    }
    .language-link{
        text-decoration: none;
        position: relative;
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1.2px;
            background-color: $offwhite;
            top: calc(100% - 4px);
            left: 0;
        }
    }

    .trans-prob{
        flex: none;
        max-width: 0;
        overflow: hidden;
        transition: max-width 0.8s cubic-bezier(.23, 1, .32, 1) ;
        .trans-word{
            p{
                white-space: nowrap;
                transform: translateY(calc(100% + 2px));
                transition: transform 0.6s cubic-bezier(.23, 1, .32, 1);
            }
        }
        
    }
    .trans-principal-word{
        p, a{
            opacity: 1;
            transition: opacity 0.6s cubic-bezier(.23, 1, .32, 1);
        }
    }

    &.headroom--not-top{
        background-color: $offwhite;
        color: $black;
        .circle-menu{
            background-color: $black;
        }
        .language-link{
            color: $white;
        }

        .trans-prob{
            transition: max-width 0.6s cubic-bezier(.23, 1, .32, 1);
            max-width: 150px;

    
            .trans-word{
                p{
                    will-change: transform;
                    transform: translateY(0);
                    transition: transform 0.6s cubic-bezier(.23, 1, .32, 1) 0.2s;
                }
            }
        }

        .trans-principal-word{
            p, a{
                @include media-breakpoint-up(md){
                    color: $white;
                    opacity: 0;
                    transition: opacity 0 cubic-bezier(.23, 1, .32, 1) 0.6s;
                }   
            }
        }
        
    }

}