.ast-svg{
    @include media-breakpoint-down(md){
        width: 25px;
        height: 25px;
        path{
            stroke-width: 3.5px;
        }
    }
    @include media-breakpoint-up(lg){
        path{
            stroke-width: 4px;
        }
    }
}

.arrow-svg{
    @include media-breakpoint-down(md){
        width: 18px;
        height: 18px;
    }
}