.vh-100{
    height: 100vh;
}



.text-off-white{
    color: $offwhite;
}

.visibility-hidden{
    visibility: hidden;
    position: absolute;
}

.py-md-31{
    @include media-breakpoint-up(md){
        padding-top: 31px;
        padding-bottom: 31px;
    }
}
.py-lg-28{
    @include media-breakpoint-up(lg){
        padding-top: 28px;
        padding-bottom: 28px;
    }
}

.gap-md-40{
    @include media-breakpoint-up(md){
        gap: 40px;
    }
}
.gap-lg-50{
    @include media-breakpoint-up(lg){
        gap: 50px;
    }
}

.divider-v{
    width: 1px;
    height: 100%;
    background-color: $black;
}

.divider-v-f{
    width: 1px;
    align-self: stretch;
    background-color: $black;
}

.divider-h{
    width: 100%;
    height: 1px;
    background-color: $white;
}

.r-gap-30{
    row-gap: 30px;
}

.r-gap-md-50{
    @include media-breakpoint-up(md){
        row-gap: 50px;
    }
}

.c-white{
    color: $white;
}

.bg-offblack{
    background-color: $black;
}

.bg-offwhite{
    background-color: $offwhite;
}


.bg-yellow{
    background-color: $yellow;
}

.divider-w{
    width: 1px;
    height: 100%;
    background-color: $white;
}

.no-wrap{
    white-space: nowrap;
}

.gap-30{
    gap: 30px;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-100{
    flex: 0 0 100%;
}

.gap-lg-30{
    @include media-breakpoint-up(lg){
        gap: 30px;
    }
}

.z-index-1{
    z-index: 1;
    position: relative;
}


.will-change{
    will-change: transform;
}

.gap-15{
    gap: 15px;
}

.gap-md-20{
    @include media-breakpoint-up(md){
        gap: 20px;
    }
}

.p-header{
    padding-top: 19px;
    padding-bottom: 22px;
    @include media-breakpoint-up(md){
        padding-top: 29px;
        padding-bottom: 30px;
    }
    @include media-breakpoint-up(lg){
        padding-top: 29px;
        padding-bottom: 31px;
    }
}