// -------- Variables ----------------- 

// Colors
$black: #242323;
$offwhite: #F9F9F0;
$yellow: #FEBE1F;
$error: #FF0000;

// Base Variables
$body-background-color: $offwhite;
$body-text-color: $black;
$title-text-color: $black;
$placeholder-color: $black;

// Types
$font-body: 'Switzer Regular';
$font-display: 'Switzer Bold';
$font-title: 'Playfair Display';
$font-subtitle: 'Switzer SemiBold';
$font-link: 'Playfair Display';
$font-wordmark: 'Playfair Display';



